<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body ng-controller="NavController">
    <h1><%= title %></h1>

    <ul class="nav">
      <li ng-repeat="navitem in nav" ng-click="filter(navitem)"
          ng-class="{selected:navitem.route == category,overall:navitem.route == ''}">
        <a href="/#"><div ng-class="navitem.route">{{navitem.name}}</div></a>
      </li>
    </ul>

    <ng-view></ng-view>

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

    <script>
      angular.module('app', ['ngRoute', 'ngResource'])

        //---------------
        // Services
        //---------------

        .factory('Prioritisations', ['$resource', function($resource){
          return $resource('/prioritisations/:id', null, {
            'update': { method:'PUT' }
          });
        }])

        //---------------
        // Controllers
        //---------------

        .controller('NavController', ['$scope', '$rootScope', function ($scope, $rootScope) {
          $scope.nav = [
            { "name": "Overall", "route": ""},
            { "name": "Food", "route": "food", "optional": [ "notes", "other optional" ]},
            { "name": "Womenswear & Home", "route": "womenswear-and-home"},
            { "name": "Menswear & Kidswear", "route": "menswear-and-kidswear"},
            { "name": "International", "route": "international"},
            { "name": "Mobile", "route": "mobile"},
            { "name": "Checkout & Payments", "route": "checkout-and-payments"}
          ];
          $scope.category = '';
          $scope.filter = function(item) {
            $scope.category = item.route
            $rootScope.category = item
            $rootScope.showNewTask = item.route != ''
          };
        }])

        .controller('PrioritisationsController', ['$scope', '$rootScope', 'Prioritisations', '$filter', function ($scope, $rootScope, Prioritisations, $filter) {
          $scope.editing = [];
          $scope.prioritisations = Prioritisations.query();

          $scope.save = function(){
            if(!$scope.newPrioritisation || $scope.newPrioritisation.length < 1) return;
            var saveObject = {
              'epic-title': $scope.newPrioritisation,
              'product-group': $rootScope.category.name,
              'product-route': $rootScope.category.route,
              'optional': $rootScope.category.optional,
            }
            var optional = $rootScope.category.optional
            if (optional) {
              saveObject.optional = []
              angular.forEach(optional, function(field) {
                saveObject.optional.push({field: field, value: ''})
              })
            }
            prioritisation = new Prioritisations(saveObject);
            prioritisation.$save(function(){
              $scope.prioritisations.push(prioritisation);
              $scope.newPrioritisation = ''; // clear textbox
            });
          }

          $scope.update = function(index){
            var prioritisation = $scope.prioritisations[index];
            Prioritisations.update({id: prioritisation._id}, prioritisation);
            $scope.editing[index] = false;
          }

          $scope.edit = function(index){
            $scope.editing[index] = angular.copy($scope.prioritisations[index]);
          }

          $scope.remove = function(prioritisation) {
            var prioritisations = []
            angular.forEach($scope.prioritisations, function(item) {
              if (item._id != prioritisation._id) { prioritisations.push(item)}
            })
            Prioritisations.remove({id: prioritisation._id}, function(){
              $scope.prioritisations = prioritisations;
            });
          }

          $scope.cancel = function(index){
            $scope.prioritisations[index] = angular.copy($scope.editing[index]);
            $scope.editing[index] = false;
          }
        }])

        .controller('PrioritisationDetailCtrl', ['$scope', '$rootScope', '$routeParams', 'Prioritisations', function ($scope, $rootScope, $routeParams, Prioritisations) {
          $scope.update = function() {
            $scope.prioritisation.priority = $scope.priorityTotal
            Prioritisations.update({id: $scope.prioritisation._id}, $scope.prioritisation);
          }

          $scope.updateValues = function(fields) {
            var total = 0
            angular.forEach(fields, function(field) {
                total = total + parseInt($scope.prioritisation[field])
            })
            return total
          }

          $scope.updateValue = function() {
            var fields = [
              'value-customer-benefit',
              'value-incremental-sales',
              'value-cost-reduction',
              'value-legal',
              'value-stability']
            $scope.valueTotal = $scope.updateValues(fields)
            $scope.updatePriority()
          }

          $scope.updateDoability = function() {
              var fields = ['doability-size','doability-complexity']
              $scope.doabilityTotal = $scope.updateValues(fields)
              $scope.updatePriority()
          }

          $scope.updatePriority = function() {
            if ($scope.valueTotal && $scope.doabilityTotal) {
              $scope.priorityTotal = Math.round((100 * $scope.valueTotal) / $scope.doabilityTotal)
            }
          }

          $scope.valueTotal = 0
          $scope.doabilityTotal = 0
          $scope.priorityTotal = 0

          $scope.prioritisation = Prioritisations.get({id: $routeParams.id }, function() {
            $scope.updateDoability()
            $scope.updateValue()
          })

        }])

        //---------------
        // Routes
        //---------------

        .config(['$routeProvider', function ($routeProvider) {
          $routeProvider
            .when('/', {
              templateUrl: 'templates/prioritisations.html',
              controller: 'PrioritisationsController',
            })

            .when('/:id', {
              templateUrl: 'templates/prioritisationDetails.html',
              controller: 'PrioritisationDetailCtrl'
           });
        }]);
    </script>
  </body>
</html>
